body{
	padding-top: 50px;
}
.container{
	width: 1300px;
	margin: 0 auto;
	background-color: #555
}
/*header starts here*/
header{
	background-image: url("../img/hamburger.jpg");
	width: 100%;
	height:600px;
	background-size: 100% 600px;
	background-repeat: no-repeat;
}
ul{
	list-style-type: none;
	background-color: #ccc;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0px;
}
ul li{
	float: right;
}
ul li:first-child{
	float: left;
}
ul li a{
    display: inline-block;
    text-decoration: none;
    line-height: 35px;
    padding: 0px 10px;
    text-transform: capitalize;
    color: #000;
    margin-top: 13px;
}
ul li a:hover{
	   background-color: #ada6a6;
	}
.text-me{
	position: absolute;
    bottom: 0px;
    left: 16px
}
.text-me h1{
	font-size: 22px;
	color: #888A8F
}
/*header starts here*/

/*slider starts here*/
.slider{
	height: 750px;
	margin-top: 80px;
}
.slider .left{
	float: left;
	width: 50%;
	background-image: url("../img/tablesetting2.jpg");
	height: 750px;
	background-repeat: no-repeat;
	background-color: #fff
}
.slider article{
	float: right;
	width: 50%;
}
.slider article h1{
	text-align: center;
    font-size: 26px;
    padding-bottom: 35px
}
.slider article h2{
	text-align: center;
    font-size: 22px;
    padding-bottom: 25px;
    color: #555;
    padding-top: 15px;
}
.slider article p{
	line-height: 30px;
}

/*slider ends here*/